{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="stylesheet" href="/style.css" />
    <title>{% block title %}User test{% endblock %}</title>
</head>

<body>
    <div id="header">
        {% block header %}
        <table width=100%>
        <tr>
        <td align=left valign=top><img src="/static/doubleblind-logo-128x128.jpg"></td>
        <td align=left valign=top><img src="/static/doubleblind-text.png"></td>
        <td align=right>
        {%if request.session.ff_auth%}
            <a href="/logout/">Log Out</a>
        {%endif%}
        </td>
        </tr></table>
        <hr />

{% comment %}
        <a href="{% url welcome %}">{% trans "Home" %}</a> | <a href="{%if request.session.ff_auth%}/logout/">Log Out{%else%}/login/">Log In{%endif%}</a>

        {% if user.is_authenticated %}
        {% trans "Logged in" %}: {{ user.username }} 
        (<a href="{% url auth_logout %}">{% trans "Log out" %}</a> | 
        <a href="{% url auth_password_change %}">{% trans "Change password" %}</a>)
    NEED LINKS TO PROFILE PAGES TOO!
        (<a href="{% url profiles_create_profile %}">{% trans "Create profile" %}</a> | 
        <a href="{% url profiles_edit_profile %}">{% trans "Edit profile" %}</a> | 
        <a href="{% url profiles_profile_detail %}">{% trans "Profile" %}</a> | 
        <a href="{% url profiles_profile_list%}">{% trans "List profiles" %}</a>)
        {% else %}
        <a href="{% url auth_login %}">{% trans "Log in" %}</a>
        {% endif %}
{% endcomment %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer" align="right">
        {% block footer %}
        <hr />
        <a href="emailto:info@doubleblind.at">info@doubleblind.at</a>
        {% endblock %}
    </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8035005-6");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>

</html>
