{% extends "base.html" %}
{% load i18n %}

{% block title %}Blind Feed{% endblock %}

{% block content %}
    <center><h1>Blind Trial, {{ percentstr }}</h1></center>

    <center>
    <table cellpadding=24 width=80%>
        <tr><td colspan=3 bgcolor="#f8b8b8">
            {{ entry|safe }} 
        </td></tr>

        <tr>
            <td align=center><a href="{{ thisurl }}/thumbsdown"><img border=0 src="/static/thumbs-down.jpg"></a></td>
            <td align=center><a href="{{ thisurl }}/pass"><center>Pass</center></a></td>
            <td align=center><a href="{{ thisurl }}/thumbsup"><img border=0 src="/static/thumbs-up.jpg"></a></td>
        </tr>
    </table>
    </center>

    <pre>
    {{ debug }}
    </pre>

{% endblock %}
