{% extends "base.html" %}
{% load i18n %}

{% block title %}Blind Feed{% endblock %}

{% block content %}
    <center><h1>Blind Trial, {{ percentstr }}</h1></center>

    <center>
    <table border=1>
        <tr><td colspan=3>
            {{ entry|safe }} 
        </td></tr>

        <tr>
            <td><a href="{{ thisurl }}/thumbsdown"><img align=left src="/static/thumbs-down.jpg"></a></td>
            <td><a href="{{ thisurl }}/pass"><center>Pass</center></a></td>
            <td><a href="{{ thisurl }}/thumbsup"><img align=right src="/static/thumbs-up.jpg"></a></td>
        </tr>
    </table>
    </center>

    You should pass if you know who the author is, or simply if you do
    not want to vote on this entry.

    <pre>
    {{ debug }}
    </pre>

{% endblock %}
